## <center>*Model to detect spam in SMS*</center>
<hr>

In [53]:
import pandas as pd
df=pd.read_csv("file1.csv")
df.head()
df.rename(columns={'Unnamed: 0':'index'},inplace=True)
df.head()
df.label.value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [54]:
spam=df[df["label"]=="spam"]
spam.head()

    index label                                            message
2       2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
5       5  spam  FreeMsg Hey there darling it's been 3 week's n...
8       8  spam  WINNER!! As a valued network customer you have...
9       9  spam  Had your mobile 11 months or more? U R entitle...
11     11  spam  SIX chances to win CASH! From 100 to 20,000 po...

In [56]:
ham=df[df["label"]=="ham"]
ham.head()

   index label                                            message
0      0   ham  Go until jurong point, crazy.. Available only ...
1      1   ham                      Ok lar... Joking wif u oni...
3      3   ham  U dun say so early hor... U c already then say...
4      4   ham  Nah I don't think he goes to usf, he lives aro...
6      6   ham  Even my brother is not like to speak with me. ...